<div id="landing" role="main">
  <div class="hero">
    <h2>How does it work?</h2>
    <p>
      It works almost the same like any other chat... yeah, almost :).
      Everything you write in correct english will be translated into
      Master Yoda's english and send to everyone on the channel. So...
      The chat room create and with friends it share!
    </p>
  </div>
</div>

<div id="jedi_fight_wrapper">
  <ul id="jedi_fight">
    <li class="back"></li>
    <li class="middle"></li>
    <li class="jedi"></li>
    <li class="front"></li>
  </ul>
</div>
