<div id="landing" role="main">
<div class="hero">

<h2>Master Yoda to chat invites you!</h2>

<form action="/new" method="post" id="new_chat">
  <% if @room && !@room.errors.empty? %>
    <div class="errors">
      <h3>Uhm, the channel created can't be!</h3>
      <ul>
        <% @room.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <input type="text" id="new_chat_name" name="chat_name" value="<%=h params[:chat_name] %>" placeholder="Name of the Room">
  <input type="submit" id="new_chat_button" class="btn large" value="To new room create, click here you must!">
</form>

</div>
</div>
