<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Yoda Chat Demo</title>
  <meta name="description" content="Yoda Chat &#183; WebRocket Experiment">
  <meta name="author" content="nu7hatch &#38; DrummerHead">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
</head>
<body>
  <div id="container">
    <header>
      <h1>
        <img src="/img/yoda-logo.png" alt="Yoda Chat" />
        Yoda chat demo
      </h1>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <footer>
      Copyright &copy; 2011 by <a href="http://www.cuboxsa.com/">Cubox</a>
    </footer>
  </div>

  <script defer="defer" src="js/plugins.js"></script>
  <script defer="defer" src="js/script.js"></script>
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});
  </script>
</body>
</html>
