<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Yoda Chat Demo</title>
  <meta name="description" content="Yoda Chat &#183; WebRocket Experiment">
  <meta name="author" content="nu7hatch &#38; DrummerHead">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css?7">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
</head>
<body>
  <div id="container" class="clearfix">
    <%= yield %>
  </div>
  
  <footer role="contentinfo">
    Copyleft 2011 by <a href="http://www.nu7hat.ch/">nu7</a> and folks at <a href="http://www.cuboxsa.com/">Cubox</a><br />
    <small>This application is proudly powered by <a href="http://webrocket.io/">WebRocket</a></small>
  </footer>

  <a href="http://github.com/webrocket/yodachat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
  
  <script defer="defer" src="/js/plugins.js"></script>
  <script defer="defer" src="/js/script.js"></script>
  <script defer="defer" src="/js/libs/jquery.jparallax.min.js"></script>
  <script defer="defer">
      $(document).ready(function() {
          $('#jedi_fight li').parallax({mouseport: $('body')});
      })
  </script>
  <script>
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});
  </script>
</body>
</html>
