<div id="room" role="main">
  <ul id="chatlog">
    <!-- messages goes here... -->
  </ul>

  <form id="new_message">
    <div class="inner">
      <div class="frame">
        <label for="new_message_text" id="new_message_text_wrapper">
          <span class="label">Your message:</span>
          <textarea id="new_message_text" name="new_message[text]" cols="77" rows="2" autofocus="autofocus"></textarea>
        </label>
        <input type="submit" id="message_send" class="btn" value="Send">
        <div class="clearfix"></div>
      </div>
    </div>
  </form>

  <div class="in"></div>
</div>

<script type="text/x-handlebars-template" id="message_tpl">
  <li>
    <span class="fn">
      {{author}}
    </span>
    <div class="msg">
      {{message}}
    </div>
    <time class="when">
      {{posted_at}}
    </time>
  </li>
</script>

<script type="text/x-handlebars-template" id="sys_message_tpl">
  <li class="sys_msg">{{message}}</li>
</script>

<script type="text/html" id="reconnect_tpl">
  <li class="sys_msg yellow">
    Something went wrong and you're offline,
    <a href="#" class="reconnect">reconnect now</a>?
  </li>
</script>

<script src="/js/libs/webrocket.js"></script>
<script defer="defer">
  var accessToken = "<%= @single_access_token %>"
  , chanName = "presence-room-<%= @room.name %>"
  , roomId = "<%= @room.name %>"
  , wr = new WebRocket("<%= $WEBSOCKET_URL %>", { debug: true });
</script>
<script defer="defer" src="/js/room.js"></script>
