<script>
  var screenName = localStorage.hasOwnProperty("screenName") ?
    localStorage.screenName : "";
  
  while (screenName == "") {
    screenName = prompt("What's your name?");
    localStorage.screenName = screenName;
  }
  
  wsSend = function(ws, payload) {
    return ws.send(JSON.stringify(payload))
  }

  var ws = new WebSocket("ws://10.1.0.55:9772/yoda")

  ws.onopen = function() {
    wsSend(ws, {"auth": {"user": "yoda", "secret": "pass"}})
  }

  ws.onmessage = function(evt) {
    data = JSON.parse(evt.data);
    if (data.hasOwnProperty("__authenticated")) {
      wsSend(ws, {"subscribe":{"channel": "<%= params[:id] %>"}})
    } else if (data.hasOwnProperty("__subscribed")) {
      wsSend(ws, {"broadcast": {"event": "joined", "channel": "<%= params[:id] %>", "data": {"name": screenName}}})
    } else if (data.hasOwnProperty("message_sent")) {
      d = data["message_sent"];
      text = d["message"];
      author = d["author"];
      $("#chatlog").append("<li><span class='fn'>" + author + ":</span><span class='msg'> " + text + "</span><time datetime='2009-11-13T21:18+03:42'>21:18</time></li>") 
    } else if (data.hasOwnProperty("joined")) {
      d = data["joined"]
      who = d["name"]
      if (who == screenName) {
        who = "You"
      }
      $("#chatlog").append("<li class='sys_msg'>" + who + " joined the room</li>")
    } else {
      console.log(evt.data)
    }
  }
</script>

<h2>On the '<%= params[:id] %>' room welcome!</h2>
<ul id="chatlog">
  
</ul>

<form id="new_message">
  <input type="text" value="" id="new_message_text" name="new_message[text]">
</form>

<script>
  $("#new_message_text").keypress(function(e) {
    if (e.which == 13) {
      wsSend(ws, {
        "trigger": {
          "event": "yodaize_and_send_to_all",
          "data": {
            "channel": "<%= params[:id] %>",
            "author": screenName,
            "message": $(this).val()
          }
        }
      })
      $(this).val("");
      return false;
    }
  })
</script>
