<div id="landing" role="main">
  <div class="hero">
    <h2>What is WebRocket?</h2>
    <p>
      <a href="http://webrocket.io">WebRocket</a> is our awesome websockets
      broker written in Go language. It's an attempt to standarize
      websockets exchange protocols and provide <strong>reliable</strong>,
      <strong>scalable</strong> and <strong>open source</strong>
      implementation for it.
    </p>
    <p>
      This application is just a funny showcase of some WebRocket features,
      i.a: real, bidirectional communication between the frontend and the ruby
      application (triggering backend operation), authentication and presence channels.
    </p>
  </div>
</div>

<div id="jedi_fight_wrapper">
  <ul id="jedi_fight">
    <li class="back"></li>
    <li class="middle"></li>
    <li class="jedi"></li>
    <li class="front"></li>
  </ul>
</div>
