/* HTML5 ✰ Boilerplate with DrummerHead code */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  position: relative;
  font-size: 1em;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #444;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles, DrummerHead style, biatch ========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #555;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.large {
  font-size: 1em;
  line-height: normal;
  padding: 14px 32px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.large:hover {
  padding: 20px 40px;
  font-size: 1.2em;
}

.hero {
  background-color: #f5f5f5;
  margin: 3em;
  padding: 4em;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero h2 {
  margin: 0 0 1em 0;
  font-size: 2.4em;
  line-height: 1;
  letter-spacing: -1px;
}
.hero p {
  font-size: 120%;
  font-weight: 200;
  line-height: 1.4;
}

#container {
  min-height: 100%;
  padding-bottom: 3.4em;
}
[role="banner"] {
  width: 20em;
  padding: 2em 1em;
  position: fixed;
  top: 0;
  right: 0;
}
[role="banner"] h1 {
  width: 100%;
  margin: 0;
  text-align: center;
}
h1 img {
  display: inline-block;
  max-width: 100%;
}
[role="main"] {
  padding: 1em;
  margin-right: 22em;
}
#landing {
}
#new_chat_name {
  width: 21em;
  padding: .5em;
  line-height: 1.2em;
  font-size: 1em;
  border: 1px solid #ccc;
  margin: 0 0 1em 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#room {
}
#new_chat {
}
#new_chat_button {
}
#room > h2 {
  max-width: 54em;
  margin-right: auto;
  margin-left: auto;
}
#chatlog,
#new_message {
  width: 96%;
  max-width: 77em;
  margin: 0 auto;
  padding: 2%;
}
#chatlog {
  background-color: #f8f8f8;
  list-style-type: none;
  -moz-box-shadow: 0 0 10px rgba(120, 120, 120, .2);
  -webkit-box-shadow: 0 0 10px rgba(120, 120, 120, .2);
  box-shadow: 0 0 10px rgba(120, 120, 120, .2);
}
#chatlog li {
  padding: .4em 0 .8em 0;
  /*background-color: grey;*/
  border-style: solid none;
  border-width: 1px;
  border-color: #fff transparent #eee transparent;
}
#chatlog li:before,
#chatlog li:after {
  content: "";
  display: table;
}
#chatlog li:after {
  clear: both;
}
#chatlog li:hover {
  background-color: #e0e0e0;
}
#chatlog .sys_msg {
  background-color: #f0f0f0;
  padding: .5% 1%;
  margin: .5% 0;
  -moz-box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  -webkit-box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  color: #666;
  border-style: none;
}
.fn {
  width: 10%;
  margin: 0 2% 0 0;
  float: left;
  text-align: right;
  color: #666;
  /*background-color: rgba(255, 0, 0, .5);*/
}
.msg {
  width: 77%;
  float: left;
  display: block;
  /*background-color: rgba(0, 255, 0, .5);*/
}
time {
  width: 10%;
  float: right;
  color: #666;
  /*background-color: rgba(0, 0, 255, .5);*/
}
#new_message {
  background-color: #f8f8f8;
  -moz-box-shadow: 0 5px 10px rgba(120, 120, 120, .2);
  -webkit-box-shadow: 0 5px 10px rgba(120, 120, 120, .2);
  box-shadow: 0 5px 10px rgba(120, 120, 120, .2);
}
#new_message_text {
  margin: 0 0 0 12%;
  width: 76%;
}
#message_send {
  width: 10%;
  height: 3.3em;
  padding: 0;
  float: right;
}

[role="contentinfo"] {
  height: 1.4em;
  padding: 1em 2em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  background-color: #eee;
  -moz-box-shadow: 0 -3px 10px rgba(120, 120, 120, .5) inset;
  -webkit-box-shadow: 0 -3px 10px rgba(120, 120, 120, .5) inset;
  box-shadow: 0 -3px 10px rgba(120, 120, 120, .5) inset;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media (max-width: 960px) {
  [role="banner"] {
    width: 10em;
    top: 1.5em;
  }
  [role="main"] {
    margin-right: 12em;
  }
}
@media (max-width: 768px) {
  [role="banner"] {
    width: 6em;
    padding: .5em;
    position: absolute;
    top: 0;
  }
  [role="main"] {
    margin-right: 0;
  }
  #room h2 {
    margin-right: 4em;
    height: 3em;
    overflow: hidden;
  }
  .hero {
    padding: 3em 1em;
  }
  #new_chat_button {
    padding: 10px;
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  #chatlog {
    font-size: .8em;
  }
  .fn {
    width: 15%;
  }
  .msg {
    width: 67%;
  }
  time {
    width: 15%;
  }
  #new_message_text {
    width: 82%;
    margin: 0;
  }
  #container {
    position: relative;
  }
  #message_send {
    width: 14%;
  }
  .hero {
    margin: 2em .4em .4em;
    position: relative;
    z-index: 9876;
  }
  #new_chat_button {
    width: 90%;
  }
}




/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
