/* HTML5 ✰ Boilerplate with DrummerHead code */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  position: relative;
  font-size: 1em;
  line-height: 1.4;
  background-color: #6a8576;
  height: 100%;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #444;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== custom font faces ================================================== */
@font-face {
    font-family: 'DistantGalaxy';
    src: url('../fonts/DISTGRG_-webfont.eot');
    src: url('../fonts/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DISTGRG_-webfont.woff') format('woff'),
         url('../fonts/DISTGRG_-webfont.ttf') format('truetype'),
         url('../fonts/DISTGRG_-webfont.svg#DistantGalaxyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==|== primary styles, DrummerHead style, biatch ========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DistantGalaxy, "Arial Black", sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #555;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 2px 0px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 2px 0px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 2px 0px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.05s linear all;
  -moz-transition: 0.05s linear all;
  -ms-transition: 0.05s linear all;
  -o-transition: 0.05s linear all;
  transition: 0.05s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn:active {
  -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.35), 0 1px 2px 1gba(0, 0, 0, 0.05);
}
.btn.large {
  font-size: 1em;
  line-height: normal;
  padding: 14px 32px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.large:hover {
  padding: 20px 40px;
  font-size: 1.2em;
}

.hero {
  background-color: #3d5749;
  padding: 4em 4em 3em 4em;
  text-align: center;
  box-shadow: 10px 10px 0px rgba(255,255,255,.1);
}
.hero h2 {
  margin: 0 0 1em 0;
  font-size: 2.0em;
  line-height: 1;
  color: #d9d0ab;
  text-shadow: rgba(0,0,0,0.9) 5px 5px 1px;
}
.hero p {
  font-size: 120%;
  font-weight: 200;
  line-height: 1.4;
  color: #D9D0AB;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}
.hero p a {
   color: #D9D0AB;
   text-decoration: underline;
}
.hero p a:hover {
   text-decoration: none;
   color: #F9F0DB;
}
#nav {
  margin: 0 auto;
  display: block;
  padding: 0;
  background-color: #2d3832;
  width: 865px;
  margin-top: 110px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
#nav .left {
  text-align: left;
}
#nav .right {
  text-align: right;
}
#nav li {
  font-size: 1.4em;
  font-family: DistantGalaxy, "Arial Black", sans-serif;
  display: inline-block;
  float: left;
  width: 50%;
}
#nav a {
  padding: 0.9em 1.5em;
  display: block;
  text-decoration: none;
  color: #d9d0ab;
  position: relative;
  z-index: 100;
  text-shadow: rgba(0,0,0,0.9) 3px 3px 1px;
}
#nav a:hover {
  color: #FFBB33;
}
#container {
  min-height: 100%;
}
[role="banner"] {
  padding: 20px 0;
  text-align: center;
}
[role="banner"] h1 {
  width: 100%;
  margin: 0;
  text-align: center;
  position: absolute;
  height: 250px;
}
[role="banner"] h1 .in {
   margin: 0 auto;
   width: 865px;
}
#logo {
   background: url("../img/yoda-logo.png") top left no-repeat;
   width: 250px;
   z-index: 2;
   position: relative;
   height: 250px;
   display: block;
   margin: 0 auto;
   margin-bottom: 1em;
   margin-top: 0.5em;
   text-indent: -9999px;
   cursor: pointer;
}
h1 img {
  display: inline-block;
  max-width: 100%;
}
[role="main"] {
}
#landing {
   margin-top: -2em;
   margin-bottom: 4em;
}
#new_chat_name {
  width: 85%;
  padding: .5em;
  line-height: 1.2em;
  background-color: #e6d7b5;
  font-size: 1.2em;
  border: 2px solid #1d3729;
  margin: 0 0 1em 0;
  border-radius: 3px;
  color: rgba(0,0,0,.8);
  box-shadow: 2px 2px 0 rgba(255,255,255,0.2);
}
#new_chat_name::-webkit-input-placeholder,
#new_chat_name::-moz-placeholder,
#new_chan_name[placeholder] {
    color: rgba(0,0,0,0.3);
}
#room {
  bottom: 0;
}
div#error {
   margin: 1em 3em;
   position: relative;
}
div#error p {
  color: #FFF;
  background: #DD3366;
  padding: 2em 2em 1em 2em;
  margin: 0;
  font-family: DistantGalaxy, "Arial Black", sans-serif;
  font-size: 1.4em;
  text-align: center;
}
#new_chat {
}
#new_chat_button {
  font-size: 1.4em;
  font-family: DistantGalaxy, "Arial Black", sans-serif;
  color: rgba(0,0,0,.8);
  background: #FFBB33;
  text-shadow: none;
  padding: 0.9em 2.5em;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#new_chat_button:hover, #message_send:hover {
  color: rgb(0,0,0);
  background: #FFCC44;
  text-shadow: 2px 2px 0px rgba(0,0,0,.3);
}
#new_chat_button:active, #message_send:active {
  text-shadow: none;
  color: rgb(0,0,0);
  background: #FFBB33;
}
#room > h2 {
  max-width: 54em;
  margin-right: auto;
  margin-left: auto;
}
#chatlog {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  padding: 0;
  background-color: #f8f8f8;
  list-style-type: none;
}
#chatlog li {
  padding: .4em 0 .8em 0;
  /*background-color: grey;*/
  border-style: solid none;
  border-width: 1px;
  border-color: #fff transparent #eee transparent;
}
#chatlog li:before,
#chatlog li:after {
  content: "";
  display: table;
}
#chatlog li:after {
  clear: both;
}
#chatlog li:hover {
  background-color: #e0e0e0;
}
#chatlog .sys_msg {
  background-color: #f0f0f0;
  padding: .5% 1%;
  margin: 0;
  -moz-box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  -webkit-box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  box-shadow: 0 0 10px rgba(120, 120, 120, .3) inset;
  color: #666;
  border-style: none;
}
.fn {
  width: 10%;
  margin: 0 2% 0 0;
  float: left;
  text-align: right;
  color: #666;
  /*background-color: rgba(255, 0, 0, .5);*/
}
.msg {
  width: 77%;
  float: left;
  display: block;
  /*background-color: rgba(0, 255, 0, .5);*/
}
time {
  width: 10%;
  float: right;
  color: #666;
  /*background-color: rgba(0, 0, 255, .5);*/
}
#new_message {
  -moz-box-shadow: 0 5px 15px rgba(120, 120, 120, .2);
  -webkit-box-shadow: 0 5px 15px rgba(120, 120, 120, .2);
  box-shadow: 0 5px 15px rgba(120, 120, 120, .2);
  z-index: 200;
  margin-top: 5px;
}
#new_message .inner {
}
#new_message_text {
  width: 87%;
  background: #2d3832;
  border: 1px solid #7d9789;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5) inset;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.4em 0.4em;
  color: #CCC;
  float: left;
  height: 2.85em;
}
#message_send {
  font-size: 1.1em;
  font-family: DistantGalaxy, "Arial Black", sans-serif;
  color: #000209;
  background: #FFCC33;
  text-shadow: none;
  padding: 0.9em 0;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 10%;
  height: 3.4em;
  float: right;
}
label .label {
   display: none;
}

[role="contentinfo"] {
  width: 100%;
  padding: 1em 0;
  margin-top: -50px;
  z-index: 15000;
  position: fixed;
  bottom: 0;
  color: rgba(255,255,255,.3);
  background-color: #1a2b22;
  text-align: center;
  width: 100%;
}
[role="contentinfo"] a {
  color: rgba(255,255,255,.5);
}
[role="contentinfo"] a:hover {
  color: rgba(255,255,255,.2);
  text-decoration: none;
}
#jedi_fight {
  width: 100%;
  height: 255px;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#jedi_fight li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 255px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: center bottom;
  position: absolute;
  bottom: 0;
}
#jedi_fight .back {
  width: 120%;
  background-color: #6a8576;
  background-image: url(../img/footer-back.png);
}
#jedi_fight .middle {
  width: 110%;
  background-image: url(../img/footer-middle.png);
}
#jedi_fight .front {
  width: 105%;
  background-image: url(../img/footer-front.png);
}
#jedi_fight .jedi {
  width: 105%;
  background-repeat: no-repeat;
  background-image: url(../img/footer-jedi.png);
}

body.room {
}
body.room #nav {
   text-align: left;
   margin-top: 20px;
   margin-bottom: 15px;
}
body.room #nav li:first-child {
   margin-left: 150px;
}
body.room #nav a {
   font-size: .7em;
   padding: 0.9em 1em;
}
body.room #nav li {
   float: none;
   display: inline-block;
   width: auto;
}
body.room #nav:after {
   content: '';
   height: 15px;
   background: #3d5749;
   width: 100%;
   position: absolute;
   top: 85px;
}
body.room [role='banner'] h1 {
   height: 100px;
}
body.room [role='banner'] {
   position: fixed;
   width: 100%;
   z-index: 1000;
   background: #6a8576;
   height: 100px;
}
body.room #logo {
   margin-top: -0.2em;
   width: 100px;
   height: 100px;
   margin-left: 30px;
   background-size: 100px 100px;
}
body.room [role='contentinfo'] {
   display: none;
}

#room {
}
#room .in {
   border: 15px solid #3d5749;
   border-bottom: 0;
   border-top: 0;
   background-color: #f8f8f8;
   position: absolute;
   top: 0;
   min-height: 100%;
   bottom: 0;
   width: 835px;
   z-index: 10;
}
#chatlog {
   padding-top: 125px;
   padding-bottom: 95px;
   width: auto;
   position: relative;
   z-index: 800;
   border: 15px solid #3d5749;
   border-bottom: 0;
}
#new_message {
   position: fixed;
   bottom: 0;
   width: 865px;
   z-index: 900;
}
#new_message .inner {
   padding: 15px;
   padding-top: 0;
   background-color: #3d5749;
}
#new_message .frame {
   background-color: #5d7769;
   padding: 10px;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== */
@media (min-width: 1280px) {
  .hero h2 {
    font-size: 3em !important;
  }
}
@media (min-width: 1024px) {
  [role="main"] {
    width: 865px;
    margin: 0 auto;
  }
  .hero h2 {
    font-size: 3.0em;
  }
  [role="contentinfo"] {
    position: relative;
  }
}
@media (max-width: 960px) {
  [role="main"] {
  }
  #new_message_text {
    width: 84%; 
  }
  #message_send {
    width: 12%;
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url(../img/wavecut.png);
  }
}
@media (max-width: 768px) {
  #logo {
    margin-bottom: 0.5em;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
  }
  [role="contentinfo"] {
    font-size: 90%;
  }
  #room h2 {
    margin-right: 4em;
    height: 3em;
    overflow: hidden;
  }
  .hero {
    padding: 2.5em 1em;
  }
  .hero h2 {
    font-size: 2.4em;
  }
  #new_chat_button {
    font-size: 1.2em;
  }
  #new_chat_name {
    font-size: 1.1em;
  }
  #new_message_text {
    width: 82%; 
  }
  #message_send {
    width: 14%;
  }
}
@media (max-width: 480px) {
  [role="banner"] {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  #logo {
    width: 100px;
    height: 100px;
    margin-bottom: 0.3em;
    background-size: 100px 100px;
    margin-left: 0.6em;
  }
  [role="contentinfo"] {
    font-size: 80%;
    text-align: center;
    margin-top: 0;
  }
  #chatlog {
    font-size: .8em;
  }
  .fn {
    width: 15%;
  }
  .msg {
    width: 67%;
  }
  time {
    width: 15%;
  }
  #new_chat_name {
     font-size: 0.9em;
  }
  #container {
    position: relative;
  }
  #new_message_text {
    width: 74%; 
  }
  #message_send {
    width: 20%;
  }
  #landing {
     margin-top: 0;
     padding-top: 0;
     margin-bottom: 0;
  }
  .hero {
    margin: 0.6em .4em .4em;
    position: relative;
    z-index: 9876;
  }
  .hero h2 {
    font-size: 1.9em;
  }
  div#error {
    font-size: .7em;
    margin: 0.6em .6em 1em .6em;
  }
  #new_chat_button {
    padding: 0.7em 0;
    width: 90%;
  }
}

/* ==|== print styles ======================================================= */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
